<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arend_jan.streekmarkt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Streekmarkt"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kramen"
            android:label="@string/title_activity_kramen"
            android:parentActivityName=".Streekmarkt"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Streekmarkt" />
        </activity>
        <activity
            android:name=".Kraam"
            android:label="@string/title_activity_kraam"
            android:parentActivityName=".Kramen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Kramen" />
        </activity>
        <activity
            android:name=".Evenementen"
            android:label="@string/title_activity_evenementen"
            android:parentActivityName=".Streekmarkt"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Streekmarkt" />
        </activity>
        <activity
            android:name=".Evenement"
            android:label="@string/title_activity_evenement"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Evenementen" />
        </activity>
        <activity
            android:name=".Fotos"
            android:label="@string/title_activity_fotos"
            android:parentActivityName=".Streekmarkt"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Streekmarkt" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fotos" />
        </activity>
        <activity
            android:name=".Geschiedenis"
            android:label="@string/title_activity_geschiedenis"
            android:parentActivityName=".Streekmarkt"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arend_jan.streekmarkt.Streekmarkt" />
        </activity>
    </application>

</manifest>
